*{
    padding: 0;
    margin: 0;
}

:root{
    --fundo:rgb(161, 22, 241);
    --fonte:rgb(234, 0, 255);
    --rover:rgb(255, 0, 170);
}

body{
    background-color: crimson;
}


a{
    text-decoration: none;
}


ul{
    list-style: none;
}


.logo{
    display: inline-block;
    color: var(--fonte);
    font-size: 32px;

}

#logo{
     
     height: 15vh;
    

}


.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: var(--fundo);
}


.nav a{
    display: block;
    padding: 30px;
    color: var(--fonte);
}


.nav a:hover{
    background-color: var(--rover);

}


.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}


.hamburger{
     cursor: pointer;
     float: right;
     padding: 35px 20px;
}


.hamb-line{
background: var(--fonte);
display: block;
height: 2px;
position: relative;
width: 24px;

}

.hamb-line::before,
.hamb-line::after{
    background-color: var(--fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}


.hamb-line::before{
    top: 5px;
}


.hamb-line::after{
    top: -5px;
}


.side-menu{
    display: none;
}


.side-menu:checked ~  nav{
    max-height: 100%;
}


.side-menu:checked ~ .hamburger .hamb-line{
    background: transparent;
}


.side-menu:checked ~ .hamburger .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}


.side-menu:checked ~ .hamburger .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}



.menu{
    width: 100%;
    position: sticky;
    background-color: aqua;
    top: 0;
}


.conteudo-musica{
    width: 100%;
}


.rodape{
    width: 100%;
    background-color:rgb(219, 156, 255);
    text-align: center;
}


.desc-estilo{
    width: 100%;
    background-color: rgb(225, 107, 255);
}


.desc-solo{
    width: 100%;
    background-color: rgb(193, 101, 255);
}


.desc-grupo{
    width: 100%;
    background-color: #ba44ff;
}


.desc-banda{
    width: 100%;
    background-color: rgb(184, 30, 255);
}


.desc-app{
    width: 100%;
    background-color: rgb(195, 0, 255);
}


.img-ini{
    width: 100%;
}


@media screen and (min-width: 768px) {
      .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
      }
      .menu li{
        float: left;
      }
      .menu a:hover{
        background-color:transparent;
        color: var(--rover);
      } 
      .hamburger {
        display: none;
      }
      #logo {
        width: 15vh;
        height: 15vh;
      }

}


@media screen and (min-width: 1280px) {
    .menu {
        height: 200px;
        font-size: 64px;
        background-color: blueviolet;
    }
    .img-ini {
        width: 50%;
    }
    .desc-solo {
        display: grid;
    }
}












.oq{
    background-color: rgba(150, 255, 255, 0.582);
    height: 35px;
    width: 100%;
    font-size: 35px;
}