*{
    padding: 0;
    margin: 0;
}

body{
    background-color: crimson;
}
.menu{
    width: 100%;
    height: 150px;
    background-color: aqua;
}
.conteudo-musica{
    width: 100%;
}
.rodape{
    width: 100%;
    background-color:goldenrod;
    text-align: center;
}
.desc-estilo{
    width: 100%;
    background-color: aliceblue;
}
.desc-solo{
    width: 100%;
    background-color: azure;
}
.desc-grupo{
    width: 100%;
    background-color: beige;
}
.desc-banda{
    width: 100%;
    background-color: blanchedalmond;
}
.desc-app{
    width: 100%;
    background-color: bisque;
}
.img-ini{
    width: 100%;
}